#nmm_table TD {width: 3em; height: 3em; border:1px solid black;text-align:center;}
#nmm_table {border-collapse: collapse;}
TD.r_square {background-color:#DDD;}
TD.g_square {background-color:#FFF;}
IMG.piece {width: 2.1em; height:2.8em;}
